In [2]:
import pandas as pd
df = pd.read_csv('customer.csv')
print(df)

                Name    age  Gender    Country Name Registration_Date
0          John Smith  25.0    male   United States        2023-01-15
1            Jane Doe  30.0  female             USA        12-05-2022
2     Michael Johnson  45.0    Male          Canada        2021/08/20
3         Emily Davis  22.0  FEMALE       Australia        15/03/2023
4        David Wilson  35.0    male   united states        01-10-2022
..                ...   ...     ...             ...               ...
57    Lucas Hernandez  20.0    Male  United Kingdom        2022/07/07
58       Harper Lewis  37.0  female             USA        25/08/2022
59   Sebastian Turner  58.0    male       Australia        2021-12-19
60         Grace Hall   NaN  female          Canada        2022-08-10
61  Abigail Rodriguez  29.0  female           japan        03-03-2023

[62 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               62 non-null     object
 1    age               53 non-null     float64
 2   Gender             62 non-null     object
 3   Country Name       62 non-null     object
 4   Registration_Date  62 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.6+ KB

In [4]:
print(df.isnull().sum())

Name                 0
 age                 9
Gender               0
Country Name         0
Registration_Date    0
dtype: int64

In [9]:
df.dropna(inplace = True)

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 0 to 61
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               53 non-null     object
 1    age               53 non-null     float64
 2   Gender             53 non-null     object
 3   Country Name       53 non-null     object
 4   Registration_Date  53 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.5+ KB
None

In [13]:
df['Registration_Date'] = pd.to_datetime(df['Registration_Date'],format='mixed')

In [38]:
df.columns

Index(['name', 'age', 'gender', 'country name', 'registration_date'], dtype='object')

In [20]:
df.columns = df.columns.str.strip()

In [21]:
df.columns

Index(['Name', 'age', 'Gender', 'Country Name', 'Registration_Date'], dtype='object')

In [22]:
df['age'] = df['age'].astype(int)

In [23]:
df

                 Name  age  Gender    Country Name Registration_Date
0          John Smith   25    male   United States        2023-01-15
1            Jane Doe   30  female             USA        2022-12-05
2     Michael Johnson   45    Male          Canada        2021-08-20
3         Emily Davis   22  FEMALE       Australia        2023-03-15
4        David Wilson   35    male   united states        2022-01-10
6        Daniel Brown   50    Male  United Kingdom        2021-11-01
7        Olivia Jones   28  Female          Canada        2022-09-15
8          John Smith   25    male   United States        2023-01-15
9        Ethan Miller   40    male       australia        2022-07-20
10         Ava Garcia   27       f           Japan        2023-04-06
11        James White   60    Male             USA        2020-03-10
12         Mia Taylor   33  female  United Kingdom        2022-12-25
13    Alexander Clark   31    Male       Australia        2023-04-01
15      Benjamin King   48    male   united states        2021-05-05
16   Charlotte Wright   29  Female           Japan        2022-05-11
17          Liam Hill   36    male   United States        2023-03-22
18        Chloe Scott   24  female             USA        2023-08-08
19        Henry Adams   55    MALE  United Kingdom        2020-09-09
20          Zoe Baker   32       F       Australia        2022-10-18
21       Samuel Green   41    male          canada        2023-01-02
22         Lily Evans   26  female   United States        2021-07-17
24       Mason Taylor   38    male  United Kingdom        2022-06-30
25    Isabella Walker   23  female             USA        2023-04-20
26    Oliver Martinez   52    Male       Australia        2021-09-03
27       Amelia Moore   30  Female          Canada        2023-01-20
28       Elijah Young   44    male   united states        2022-10-10
30    Lucas Hernandez   20    Male  United Kingdom        2022-07-07
31       Harper Lewis   37  female             USA        2022-08-25
32   Sebastian Turner   58    male       Australia        2021-12-19
34  Abigail Rodriguez   29  female           japan        2023-03-03
35         John Smith   25    male   United States        2023-01-15
36       Ethan Miller   40    male       australia        2022-07-20
37         Ava Garcia   27       f           Japan        2023-04-06
38        James White   60    Male             USA        2020-03-10
39         Mia Taylor   33  female  United Kingdom        2022-12-25
40    Alexander Clark   31    Male       Australia        2023-04-01
42      Benjamin King   48    male   united states        2021-05-05
43   Charlotte Wright   29  Female           Japan        2022-05-11
44          Liam Hill   36    male   United States        2023-03-22
45        Chloe Scott   24  female             USA        2023-08-08
46        Henry Adams   55    MALE  United Kingdom        2020-09-09
47          Zoe Baker   32       F       Australia        2022-10-18
48       Samuel Green   41    male          canada        2023-01-02
49         Lily Evans   26  female   United States        2021-07-17
51       Mason Taylor   38    male  United Kingdom        2022-06-30
52    Isabella Walker   23  female             USA        2023-04-20
53    Oliver Martinez   52    Male       Australia        2021-09-03
54       Amelia Moore   30  Female          Canada        2023-01-20
55       Elijah Young   44    male   united states        2022-10-10
57    Lucas Hernandez   20    Male  United Kingdom        2022-07-07
58       Harper Lewis   37  female             USA        2022-08-25
59   Sebastian Turner   58    male       Australia        2021-12-19
61  Abigail Rodriguez   29  female           japan        2023-03-03

In [24]:
df.columns = df.columns.str.lower()

In [25]:
df

                 name  age  gender    country name registration_date
0          John Smith   25    male   United States        2023-01-15
1            Jane Doe   30  female             USA        2022-12-05
2     Michael Johnson   45    Male          Canada        2021-08-20
3         Emily Davis   22  FEMALE       Australia        2023-03-15
4        David Wilson   35    male   united states        2022-01-10
6        Daniel Brown   50    Male  United Kingdom        2021-11-01
7        Olivia Jones   28  Female          Canada        2022-09-15
8          John Smith   25    male   United States        2023-01-15
9        Ethan Miller   40    male       australia        2022-07-20
10         Ava Garcia   27       f           Japan        2023-04-06
11        James White   60    Male             USA        2020-03-10
12         Mia Taylor   33  female  United Kingdom        2022-12-25
13    Alexander Clark   31    Male       Australia        2023-04-01
15      Benjamin King   48    male   united states        2021-05-05
16   Charlotte Wright   29  Female           Japan        2022-05-11
17          Liam Hill   36    male   United States        2023-03-22
18        Chloe Scott   24  female             USA        2023-08-08
19        Henry Adams   55    MALE  United Kingdom        2020-09-09
20          Zoe Baker   32       F       Australia        2022-10-18
21       Samuel Green   41    male          canada        2023-01-02
22         Lily Evans   26  female   United States        2021-07-17
24       Mason Taylor   38    male  United Kingdom        2022-06-30
25    Isabella Walker   23  female             USA        2023-04-20
26    Oliver Martinez   52    Male       Australia        2021-09-03
27       Amelia Moore   30  Female          Canada        2023-01-20
28       Elijah Young   44    male   united states        2022-10-10
30    Lucas Hernandez   20    Male  United Kingdom        2022-07-07
31       Harper Lewis   37  female             USA        2022-08-25
32   Sebastian Turner   58    male       Australia        2021-12-19
34  Abigail Rodriguez   29  female           japan        2023-03-03
35         John Smith   25    male   United States        2023-01-15
36       Ethan Miller   40    male       australia        2022-07-20
37         Ava Garcia   27       f           Japan        2023-04-06
38        James White   60    Male             USA        2020-03-10
39         Mia Taylor   33  female  United Kingdom        2022-12-25
40    Alexander Clark   31    Male       Australia        2023-04-01
42      Benjamin King   48    male   united states        2021-05-05
43   Charlotte Wright   29  Female           Japan        2022-05-11
44          Liam Hill   36    male   United States        2023-03-22
45        Chloe Scott   24  female             USA        2023-08-08
46        Henry Adams   55    MALE  United Kingdom        2020-09-09
47          Zoe Baker   32       F       Australia        2022-10-18
48       Samuel Green   41    male          canada        2023-01-02
49         Lily Evans   26  female   United States        2021-07-17
51       Mason Taylor   38    male  United Kingdom        2022-06-30
52    Isabella Walker   23  female             USA        2023-04-20
53    Oliver Martinez   52    Male       Australia        2021-09-03
54       Amelia Moore   30  Female          Canada        2023-01-20
55       Elijah Young   44    male   united states        2022-10-10
57    Lucas Hernandez   20    Male  United Kingdom        2022-07-07
58       Harper Lewis   37  female             USA        2022-08-25
59   Sebastian Turner   58    male       Australia        2021-12-19
61  Abigail Rodriguez   29  female           japan        2023-03-03

In [26]:
df['country name'] = df['country name'].replace({'USA':'United States'})

In [27]:
df

                 name  age  gender    country name registration_date
0          John Smith   25    male   United States        2023-01-15
1            Jane Doe   30  female   United States        2022-12-05
2     Michael Johnson   45    Male          Canada        2021-08-20
3         Emily Davis   22  FEMALE       Australia        2023-03-15
4        David Wilson   35    male   united states        2022-01-10
6        Daniel Brown   50    Male  United Kingdom        2021-11-01
7        Olivia Jones   28  Female          Canada        2022-09-15
8          John Smith   25    male   United States        2023-01-15
9        Ethan Miller   40    male       australia        2022-07-20
10         Ava Garcia   27       f           Japan        2023-04-06
11        James White   60    Male   United States        2020-03-10
12         Mia Taylor   33  female  United Kingdom        2022-12-25
13    Alexander Clark   31    Male       Australia        2023-04-01
15      Benjamin King   48    male   united states        2021-05-05
16   Charlotte Wright   29  Female           Japan        2022-05-11
17          Liam Hill   36    male   United States        2023-03-22
18        Chloe Scott   24  female   United States        2023-08-08
19        Henry Adams   55    MALE  United Kingdom        2020-09-09
20          Zoe Baker   32       F       Australia        2022-10-18
21       Samuel Green   41    male          canada        2023-01-02
22         Lily Evans   26  female   United States        2021-07-17
24       Mason Taylor   38    male  United Kingdom        2022-06-30
25    Isabella Walker   23  female   United States        2023-04-20
26    Oliver Martinez   52    Male       Australia        2021-09-03
27       Amelia Moore   30  Female          Canada        2023-01-20
28       Elijah Young   44    male   united states        2022-10-10
30    Lucas Hernandez   20    Male  United Kingdom        2022-07-07
31       Harper Lewis   37  female   United States        2022-08-25
32   Sebastian Turner   58    male       Australia        2021-12-19
34  Abigail Rodriguez   29  female           japan        2023-03-03
35         John Smith   25    male   United States        2023-01-15
36       Ethan Miller   40    male       australia        2022-07-20
37         Ava Garcia   27       f           Japan        2023-04-06
38        James White   60    Male   United States        2020-03-10
39         Mia Taylor   33  female  United Kingdom        2022-12-25
40    Alexander Clark   31    Male       Australia        2023-04-01
42      Benjamin King   48    male   united states        2021-05-05
43   Charlotte Wright   29  Female           Japan        2022-05-11
44          Liam Hill   36    male   United States        2023-03-22
45        Chloe Scott   24  female   United States        2023-08-08
46        Henry Adams   55    MALE  United Kingdom        2020-09-09
47          Zoe Baker   32       F       Australia        2022-10-18
48       Samuel Green   41    male          canada        2023-01-02
49         Lily Evans   26  female   United States        2021-07-17
51       Mason Taylor   38    male  United Kingdom        2022-06-30
52    Isabella Walker   23  female   United States        2023-04-20
53    Oliver Martinez   52    Male       Australia        2021-09-03
54       Amelia Moore   30  Female          Canada        2023-01-20
55       Elijah Young   44    male   united states        2022-10-10
57    Lucas Hernandez   20    Male  United Kingdom        2022-07-07
58       Harper Lewis   37  female   United States        2022-08-25
59   Sebastian Turner   58    male       Australia        2021-12-19
61  Abigail Rodriguez   29  female           japan        2023-03-03

In [28]:
df = df.drop_duplicates()

In [29]:
df

                 name  age  gender    country name registration_date
0          John Smith   25    male   United States        2023-01-15
1            Jane Doe   30  female   United States        2022-12-05
2     Michael Johnson   45    Male          Canada        2021-08-20
3         Emily Davis   22  FEMALE       Australia        2023-03-15
4        David Wilson   35    male   united states        2022-01-10
6        Daniel Brown   50    Male  United Kingdom        2021-11-01
7        Olivia Jones   28  Female          Canada        2022-09-15
9        Ethan Miller   40    male       australia        2022-07-20
10         Ava Garcia   27       f           Japan        2023-04-06
11        James White   60    Male   United States        2020-03-10
12         Mia Taylor   33  female  United Kingdom        2022-12-25
13    Alexander Clark   31    Male       Australia        2023-04-01
15      Benjamin King   48    male   united states        2021-05-05
16   Charlotte Wright   29  Female           Japan        2022-05-11
17          Liam Hill   36    male   United States        2023-03-22
18        Chloe Scott   24  female   United States        2023-08-08
19        Henry Adams   55    MALE  United Kingdom        2020-09-09
20          Zoe Baker   32       F       Australia        2022-10-18
21       Samuel Green   41    male          canada        2023-01-02
22         Lily Evans   26  female   United States        2021-07-17
24       Mason Taylor   38    male  United Kingdom        2022-06-30
25    Isabella Walker   23  female   United States        2023-04-20
26    Oliver Martinez   52    Male       Australia        2021-09-03
27       Amelia Moore   30  Female          Canada        2023-01-20
28       Elijah Young   44    male   united states        2022-10-10
30    Lucas Hernandez   20    Male  United Kingdom        2022-07-07
31       Harper Lewis   37  female   United States        2022-08-25
32   Sebastian Turner   58    male       Australia        2021-12-19
34  Abigail Rodriguez   29  female           japan        2023-03-03

In [36]:
df.loc[:,'gender'] = df['gender'].replace({'f':'female','F':'female'})

In [37]:
df

                 name  age  gender    country name registration_date
0          John Smith   25    male   United States        2023-01-15
1            Jane Doe   30  female   United States        2022-12-05
2     Michael Johnson   45    male          Canada        2021-08-20
3         Emily Davis   22  female       Australia        2023-03-15
4        David Wilson   35    male   united states        2022-01-10
6        Daniel Brown   50    male  United Kingdom        2021-11-01
7        Olivia Jones   28  female          Canada        2022-09-15
9        Ethan Miller   40    male       australia        2022-07-20
10         Ava Garcia   27  female           Japan        2023-04-06
11        James White   60    male   United States        2020-03-10
12         Mia Taylor   33  female  United Kingdom        2022-12-25
13    Alexander Clark   31    male       Australia        2023-04-01
15      Benjamin King   48    male   united states        2021-05-05
16   Charlotte Wright   29  female           Japan        2022-05-11
17          Liam Hill   36    male   United States        2023-03-22
18        Chloe Scott   24  female   United States        2023-08-08
19        Henry Adams   55    male  United Kingdom        2020-09-09
20          Zoe Baker   32  female       Australia        2022-10-18
21       Samuel Green   41    male          canada        2023-01-02
22         Lily Evans   26  female   United States        2021-07-17
24       Mason Taylor   38    male  United Kingdom        2022-06-30
25    Isabella Walker   23  female   United States        2023-04-20
26    Oliver Martinez   52    male       Australia        2021-09-03
27       Amelia Moore   30  female          Canada        2023-01-20
28       Elijah Young   44    male   united states        2022-10-10
30    Lucas Hernandez   20    male  United Kingdom        2022-07-07
31       Harper Lewis   37  female   United States        2022-08-25
32   Sebastian Turner   58    male       Australia        2021-12-19
34  Abigail Rodriguez   29  female           japan        2023-03-03

In [39]:
df.to_csv("customerDataClean.csv",index=False)